<li>
  <?? queue ?><a class='queue' href='#/queue/<?= id ?>'>+</a><?/>
  <a href='/<?= action ?>/<?= id ?>'>
    <?? cover ?><img class='cover' src='<?= cover ?>'/><?/>
    <?! cover ?>
      <?! queue ?><img class='cover' src='/static/folder.png'/><?/>
      <?? queue ?><img class='cover' src='/static/tape.png'/><?/>
    <?/>
    <div class='title'><?= title ?></div>
  </a>
</li>
