<form method='POST' class='login'>
  <table>
    <tr><th colspan='2' class='ltop'>Mapledeck Login</th></tr>
    <?? error ?><tr><td align='center' colspan='2' class='error'>An error occurred logging in with<br/>this username and/or password.</td></tr><?/>
    <tr><th>Username:</th><td><input type='text' name='username' /></td></tr>
    <tr><th>Password:</th><td><input type='password' name='password' /></td></tr>
    <tr><th colspan='2'><input type='submit' value='Log In' /></th></tr>
  </table>
</form>
