<ul id='sidebar'>
  <li><a href='/browse'>Folders</a></li>
  <li><a href='/browse/album'>Albums</a></li>
  <li><a href='/browse/artist'>Artists</a></li>
  <li><a href='/browse/playlist'>Playlists</a></li>
  <br/>
  <li><a href='/browse/queue'>Up Next</a><span id='queueCount'></span></li>
</ul>
<div id='browser'><?= browser ?></div>
<div id='player'><?= player ?></div>
