<div class='playInfo'>
  <div class='title'><?= title ?></div>
  <?? artist ?><div class='artist'><?= artist ?></div><?/>
</div>

<div class='pctl'>
  <button class='play' id='playButton'>Play <span class='playIcon'></span></button>
  <input type='range' id='timeSlider' min='0' max='<?= durationDS ?>' value='0' />
  <span id='timer'>0:00 / 0:00</span>
</div>
<?? id ?>
<audio id='audio' preload='metadata' autoplay>
  <?? mime ?><source src='/stream/<?= id ?>?format=native' type='<?= mime ?>' /><?/>
  <source src='/stream/<?= id ?>?format=opus' type='audio/ogg;codecs=opus' />
  <source src='/stream/<?= id ?>?format=vorbis' type='audio/ogg;codecs=vorbis' />
  <source src='/stream/<?= id ?>?format=mp3' type='audio/mpeg;codecs=mp3' />
</audio>
<?/>
<?? title ?>
<div id='audioMeta' style='display: none'>{
  <?? artist ?>"artist": "<?= artist ?>",<?/>
  <?? album ?>"album": "<?= album ?>",<?/>
  <?? cover ?>"artwork": [{ "src": "/rest/getCoverArt?id=<?= cover ?>" }],<?/>
  "title": "<?= title ?>"
}</div>
<?/>
