<li<?? current ?> class='current'<?/>>
  <a href='/browse/track/<?= id ?>'><?= name ?></a>
  <a class='playQueue playIcon' href='#/seekqueue/<?= pos ?>'></a>
  <a class='playQueue deleteIcon' href='#/delqueue/<?= pos ?>'></a>
</li>
