<h1><?= title ?></h1>
<h2><?= artist ?></h2>

<div>
  <a href="/stream/<?= id ?>">Play</a>
  <a href="#/queue/<?= id ?>">
    Add to Queue<span class='queue'>+</span>
  </a>
</div>

<div>
Tags:
<ul><?= tags ?></ul>
</div>
