* {
  box-sizing: border-box;
}

html {
  background: #181818;
  color: white;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

body {
  margin: 0 0 2rem 10rem;
  padding: 8px 8px 5rem 8px;
  min-height: 100vh;
}

a:link, a:visited {
  color: #8080FF;
  font-weight: bold;
}

a:hover, a:active {
  color: #C0C0FF;
  font-weight: bold;
}

#sidebar {
  position: fixed;
  z-index: 2;
  margin: 0;
  padding: 8px;
  top: 0;
  left: 0;
  bottom: 5rem;
  width: 10rem;
  border-right: 1px solid white;
  background: #181818;
}

#player {
  position: fixed;
  z-index: 2;
  margin: 0;
  padding: 8px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  border-top: 1px solid white;
  background: #181818;
}

#browser > ul {
  padding: 0;
}

#browser > ul > li {
  display: inline-block;
  width: 144px;
  height: 170px;
  border: 1px solid white;
  margin: 1em;
  padding: 5px;
  overflow: hidden;
  hyphens: auto;
  overflow-wrap: break-word;
  position: relative;
  text-align: center;
}

a.queue {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
}

a.queue, span.queue {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: #202060;
  border: 1px solid #8080FF;
  text-align: center;
  border-radius: 50%;
  margin: 5px;
  display: inline-block;
  text-decoration: none;
  line-height: 15px;
  font-weight: normal;
}

a.queue:hover, a:hover .queue {
  background: #303080;
  border: 1px solid #C0C0FF;
}

#browser li a {
  font-weight: normal;
}

.cover {
  display: inline-block;
  max-width: 128px;
  max-height: 128px;
}

#browser li .title {
  padding: 4px;
  text-align: left;
  background: #181818;
}

#browser li .queue ~ a .title {
  padding-right: 1.5em;
}

#browser li .cover ~ .title {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 27px;
  border-top: 1px solid #808080;
  transition: max-height 0.2s linear;
}

#browser li:hover .cover ~ .title {
  transition: max-height 0.5s ease-in;
  max-height: 100%;
}

.playInfo {
  position: absolute;
  top: 0;
  left: 8px;
  width: 15rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.playInfo div {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.playInfo .artist {
  font-size: 75%;
}

.pctl {
  position: absolute;
  top: 0;
  left: 16rem;
  right: 8px;
  height: 100%;
  display: flex;
  align-items: center;
}

.pctl #timeSlider {
  flex-grow: 1;
}

.pctl #timer {
  white-space: nowrap;
}

.autoplayBox {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 12px;
}

.play {
  width: 6em;
  text-align: center;
  white-space: nowrap;
  padding-top: 2px;
}

.playIcon::after {
  content: '\23f4';
  display: inline-block;
  font-size: 200%;
  vertical-align: middle;
  margin: -6px -10px -6px -6px;
}

.pauseIcon::after {
  content: '\23f8';
  display: inline-block;
  font-size: 200%;
  vertical-align: middle;
  margin: -6px -10px -6px -6px;
}

.login > table {
  margin: auto;
}

.login th {
  padding: 8px;
}

.login .ltop {
  background: white;
  color: black;
  padding: 8px;
}

.login .error {
  color: #ffa080;
}

#queue {
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  width: 20%;
  border-left: 1px solid white;
  padding: 8px;
  overflow-y: scroll;
}

#browser ol.queue .current {
  font-weight: bold;
  background: #303030;
}

.playQueue {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1em;
  vertical-align: middle;
  background: #202060;
  border: 1px solid #8080FF;
  text-align: center;
  border-radius: .25em;
  margin-left: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 5px;
  display: inline-block;
  text-decoration: none;
  line-height: 15px;
  font-weight: normal;
}

.playQueue:hover {
  background: #303080;
  border: 1px solid #C0C0FF;
}

.deleteIcon::after {
  content: '\00d7';
  display: inline-block;
  font-size: 200%;
  vertical-align: middle;
  margin: -10px -9px -6px -8px;
}

